{% extends 'base.html' %}

{% block title %}Boggle Game{% endblock %}

{% block content %}
<div class="flex-container">

    <div class="board-container">
        <table class="game-board">
            {% for row in game_board %}
            <tr>
                {% for letter in row %}
                <td>{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="right-container">
        <div class="form-container">
            <form class="guess-form" method="post" action="#">
                <label for="guess" class="guess-label">Enter a word: </label>
                <input type="text" name="guess" id="guess-input">
                <button class="submit-button" id="submit-button">Submit</button>
            </form>
        </div>
        <div class="feedback-container" id="feedback-container"></div>
        <div class="score-container">Score: 0</div>
        <div class="timer-container">
            <span id="timer">0</span>
            <form action="/boggle"><button id="play-again">Play Again</button></form>
        </div>
    </div>
</div>
{% endblock %}